<div class="date-header">
  <% tomorrow = d+1 %>
  <h1><%= link_to "«", project_entry_path(project_id: @project.id, id: (d-1).strftime("%m-%d-%Y")) %><%= d.strftime("%B %d, %Y") %>
  <% if tomorrow < DateTime.now %>
    <%= link_to "»", project_entry_path(project_id: @project.id, id: tomorrow.strftime("%m-%d-%Y")) %>
  <% end %>
  </h1>
</div>
