<div class="row row-header">
  <div class="small-2 large-2 columns">
    Person
  </div>
  <div class="small-4 large-4 columns">
    Worked on yesterday
  </div>
  <div class="small-3 large-3 columns">
    Working on today
  </div>
  <div class="small-3 large-3 columns">
    Blocks
  </div>
</div>


