// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$bg: #ddd;
$darker: darken($bg, 10%);
$error: #a2001b;
$error-text: #f2f2f2;

.row-header {
  background: $bg;
  border-bottom: 1px solid $darker; 

  > div {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.row-scrum {
  &:hover {
    background-color: $bg;
  }

  > div {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.row-blocked .block {
  background-color: $error;
  color: $error-text;
}
