// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$bg: #ddd;
$light: #888;
$darker: darken($bg, 10%);
$error: #a2001b;
$error-text: #f2f2f2;

.row-header {
  background: $bg;
  border-bottom: 1px solid $darker; 

  > div {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.row-scrum {
  border-bottom: 1px solid $darker;

  &:hover {
    background-color: $bg;
  }

  > div {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.row-blocked .block {
  background-color: $error;
  color: $error-text;
}

.date-header a {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}

input + .info, textarea + .info {
  display: block;
  margin-top: -10px;
  margin-bottom: 20px;
  color: $light;
  font-size: 12px;
  font-style: italic;
}

.data-entry {
  height: 100px;
  z-index: 5;
  position: relative;
  background-color: rgba(255,255,255,0.8);

  &:focus {
    background-color: rgba(255,255,255,0.8);
  }
}

.char-counter {
  position: relative;
  z-index: 1;
  top: -48px;
  font-size: 24px;
  text-align: right;
  padding-right: 10px;
}
