.grid {
  .row {
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
    cursor: pointer;

    &:hover {
      background: #eee;
    }

    &:last-child {
      border-bottom: 0;
    }
  }
}

.people {
  list-style-type: none;
  margin: 0;

  .person {
    padding: 4px 0 4px 10px;

    .remove_person {
      margin-right: 10px;
      visibility: hidden;
    }

    &:hover {
      background: #efefef;

      .remove_person {
        visibility: visible;
      }
    }
  }
}

.edit_project {
  label {
    font-size: 0.7rem;
  }

  #invitations {
    height: 100px;
  }
}

#invite_people {
  padding-bottom: 0;
  padding-top: 0.5rem;
}


